{% layout "layout.liquid" %} {% block content %}
<h1>Classical music lovers</h1>
<div><a href="/composers"><button>Composers</button></a>
    <a href="/playlists"><button>My playlist</button></a>
    <a href="/users/logout" class="nav-link text-light"><button>Log Out</button></a>
    
    <a href="/"><button>Home</button></a>

</div>

<form action="/playlists/{{playlist._id}}?_method=PUT" method="post">
    <!-- <input type="submit">Playlist name
    <input type="text" name="name"/> -->
    <label>Playlist name: <input type="text" name="name" required /> </label>
    <input type="submit" value="Submit" />

</form>
<h2 class="name" id="name">{{playlist.name}}</h2>
<div class="index">
<h3>{% for song in playlist.songs%}
{{song.name}} <audio src="../../{{song.audio}}"  controls type="audio/mpeg"></audio></h3>
<form action="/playlists/{{ song._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete song" />
</form>
</div>
{% endfor%}

{% endblock %}