{% layout "layout.liquid" %} {% block content %}
<h1>Classical music lovers</h1>
<div><a href="/composers"><button>Composers</button></a>
    <a href="/playlists"><button>My playlist</button></a>
    <a href="/users/logout" class="nav-link text-light"><button>Log Out</button></a>
    
    <a href="/"><button>Home</button></a>

</div>
<h1>{{playlist.name}}</h1>
<form action="/playlists/{{playlist._id}}?_method=PUT" method="post">
    <input type="text" name="name"/>
    <input type="submit">Playlist name

</form>

{% for song in playlist.songs%}
<p>{{song.name}} <audio src="../../{{song.audio}}"  controls type="audio/mpeg"></audio></p>
<form action="/playlists/{{ song._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete song" />
</form>
{% endfor%}

<a href="/playlists/{{forloop.index0}}/edit" type="submit"><button>Edit my playlist name</button></a>




{% endblock %}